apiVersion: batch/v1
kind: Job
metadata:
  name: run-bash-script
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: runner
          image: myactions-script:local