name: Run Bash Script
on: [push]

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run script
        shell: bash
        run: |
          chmod +x ./scripts/run.sh
          ./scripts/run.sh

